* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 37.5px;
}
body{
    font-size: 12px;
}
body,html,#app,.m-layout {
    width: 100%;
    height: 100%;
}