* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    font-size: 37.5px;
}
body {
    font-size: 12px;
}
body,
html,
#app,
.g-layout {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background: #FFF;
}

// 去掉input type=number的上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

// 重置element-ui样式
.form-module {
    .el-select {
        display: block;
    }
}
