$primary: #477FD3;
$success: #03B600;
$warn: #FFA700;
$text: #333;
$muted: #999;
$red: #E3525C;
$green: #59B668;

// funds
$color-primary: #4C6072;
$color-green: #11B873;
$color-red: #FF4653;
$color-yellow: #FFC741;
$color-orange: #E95A2A;
$color-blue: #52ACFF;
$login-bg-color:#0C0C0C;
$click-hight-color: rgba(238, 238, 237, 0.3); //点击高亮颜色

//
$layer-right-width:400px;
$layer-right-right:60px;
$layer-right-bottom:60px;
$layer-right-top:60px;
