@import '~@/sass/mixin.scss';
:root{
    --color: #333;
    --bdColor: #ddd;
    --mutedColor: #989898;
    --placeholder: #c4c4c4;
    --bgColor: #F8F8F8;
    --white: #fff;
    --riseColor: #E3525C;
    --fallColor: #007aff;
    --sellColor: #E3525C;
    --buyColor: #007aff;
    --primary: #007aff;
    --success: #20ce00;
    --red: #E3525C;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    color: var(--color);
}

body {
    font-size: 16px;
    /*no*/
    // font-family: 'PingFang SC', '-apple-system', 'Heiti SC', 'Helvetica', 'Helvetica Neue', 'Droid Sans Fallback', 'Droid Sans';
    font-family: 'Trebuchet MS', 'roboto', 'ubuntu', 'sans-serif';
    webkit-text-size-adjust: none;
    -webkit-user-select: none;
}
a{
    text-decoration:none;
}
.link{
    color: var(--primary);
}
.riseColor{
    color: var(--riseColor);
}
.fallColor{
    color: var(--fallColor);
}
.buyColor{
    color: var(--buyColor);
}
.sellColor{
    color: var(--sellColor);
}
[class*='icon_'] {
    font-family: iconfont;
}

[class*='of-1px']:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid #e2e9f1;
}

.of-1px-all {
    &::after {
        border-width: 1px;
    }
}

.m-field {
    // padding: .38667rem .42667rem;
    border: none;
    background-color: #fff;
}

::-webkit-input-placeholder {
    color: rgba($color: #000000, $alpha: 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

i {
    font-style: normal;
}

.pageRouter {
    font-size: rem(26px);
    min-height: 100%;
    color: $text;
    line-height: 1.4;
}

.protocolContent a {
    color: $primary !important;
}

.muted {
    color: var(--mutedColor);
}

.red {
    color: var(--red);
}

.alignRgiht {
    text-align: right;
}

.alignmiddle {
    vertical-align: middle;
}

.mtop10 {
    margin-top: 10px;
}

.relative {
    position: relative;
}

@font-face {
    font-weight: normal;
    font-family: 'vant-icon';
    font-style: normal;
    font-display: auto;
    src: url('~@/fonts/vant-icon-db1de1.woff2') format('woff2'), url('~@/fonts/vant-icon-db1de1.woff') format('woff'), url('~@/fonts/vant-icon-db1de1.ttf') format('truetype');
}

.z-index-9999 {
    position: relative;
    z-index: 99999;
}
// 移动端1px处理
[class*='of-1px'] {
    position: relative;
}

[class*='of-1px']::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid #bbb;
}

.of-1px-top::after {
    border-top-width: 1px;
}

.of-1px-left::after {
    border-left-width: 1px;
}

.of-1px-right::after {
    border-right-width: 1px;
}

.of-1px-bottom::after {
    border-bottom-width: 1px;
}

.of-1px-top-bottom::after {
    border-width: 1px 0;
}

.of-1px-all::after {
    border-width: 1px;
}
